*{

margin:0;

padding:0;

box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{


font-family: Georgia, "Times New Roman", serif;

background:#f3e7cf;

color:#2d2118;

line-height:1.8;


}





nav{


position:fixed;

top:0;

width:100%;

background:#3b2415;

color:white;

display:flex;

justify-content:space-around;

align-items:center;

padding:18px 40px;

z-index:1000;


}



nav h2{


font-size:24px;


}



nav a{


color:white;

text-decoration:none;

margin-left:20px;

font-size:16px;


}



nav a:hover{


color:#d6b26e;


}







.hero{


height:100vh;


background:

linear-gradient(

rgba(0,0,0,0.55),

rgba(0,0,0,0.55)

),

url("https://images.unsplash.com/photo-1603565816030-6b389eeb23cb");



background-size:cover;

background-position:center;



display:flex;

justify-content:center;

align-items:center;



text-align:center;

color:white;


}




.hero h1{


font-size:75px;

letter-spacing:3px;


}



.hero h2{


font-size:40px;

margin-top:20px;


}



.hero p{


font-size:25px;

margin-top:20px;


}







section{


padding:110px 15%;


}




section h2{


font-size:42px;

color:#704214;

margin-bottom:35px;


border-bottom:3px solid #b88a44;

padding-bottom:10px;


}







p{


font-size:18px;

margin-bottom:25px;


}




ul{


margin-left:30px;

font-size:18px;


}








/* GOD CARDS */


.god{


display:flex;

background:white;

margin:40px 0;

padding:35px;


border-radius:20px;


box-shadow:

0 8px 20px rgba(0,0,0,0.15);


gap:40px;


align-items:center;


}




.god img{


width:320px;

height:380px;


object-fit:cover;


border-radius:15px;


border:8px solid #d8b779;


}






.god h3{


font-size:32px;

color:#704214;

margin-bottom:15px;


}







/* MYTHS AND ARTIFACT CARDS */


.card{


background:white;

padding:35px;

margin:35px 0;


border-radius:20px;


box-shadow:

0 8px 20px rgba(0,0,0,0.15);


}




.card h3{


font-size:30px;

color:#704214;

margin-bottom:20px;


}







/* FOOTER */


footer{


background:#3b2415;

color:white;


text-align:center;


padding:35px;


font-size:18px;


}







/* MOBILE DESIGN */


@media(max-width:900px){



nav{


flex-direction:column;

}


nav div{


margin-top:15px;


}




.hero h1{


font-size:45px;


}



.hero h2{


font-size:30px;


}




.god{


flex-direction:column;


}



.god img{


width:100%;

height:auto;


}




section{


padding:90px 8%;


}



}
