body{

margin:0;

font-family:Georgia, serif;

background:#f3e8cf;

color:#302015;

line-height:1.8;

}



nav{

position:fixed;

top:0;

width:100%;

background:#352015;

color:white;

display:flex;

justify-content:space-around;

padding:15px;

z-index:10;

}



nav a{

color:white;

text-decoration:none;

margin:10px;

}



.hero{

height:100vh;

background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),

url("images/parthenon.jpg");


background-size:cover;

background-position:center;


display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;


}



.hero h1{

font-size:70px;

}



section{

padding:100px 15%;

}



h2{

font-size:40px;

color:#6b4320;

}



.god{

background:white;

padding:35px;

margin:40px 0;

display:flex;

gap:40px;

border-radius:15px;

}



.god img{

width:300px;

height:350px;

object-fit:cover;

border-radius:10px;

}



.card{

background:white;

padding:35px;

margin:30px 0;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}



footer{

background:#352015;

color:white;

text-align:center;

padding:30px;

}



@media(max-width:800px){


.god{

flex-direction:column;

}


.hero h1{

font-size:45px;

}

}
